.st0{fill:#B4E6DD;}
.st1{fill:#80D4C4;}
.st2{fill:#D2F0EA;}
.st3{fill:#FFFFFF;}
.st4{fill:#FBD872;}
.st5{fill:#DB7767;}
.st6{fill:#F38E7A;}
.st7{fill:#F6AF62;}
.st8{fill:#32A48E;}
.st9{fill:#A38FD8;}
.st10{fill:#7C64BD;}
.st11{fill:#EAA157;}
.st12{fill:#9681CF;}
.st13{fill:#F9C46A;}
.st14{fill:#CE6B61;}
