@import "../../styles/styles";

.product {

  padding: 20px 30px;
  border-radius:10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  min-height: 500px;



  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap:30px;
  transition-duration: var(--duration);

  @include mobile {
    min-height: 300px;
  }


  @include hover {
    scale: 1.03;
    opacity: 0.8;
  }

  &__wrapper {

  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &__title {
      font-size: 20px;
    }

    &__rating {
      display: flex;
      align-items: center;

      &_icon {
        width: 25px;
        height: auto;
      }
    }

  }

  &__image {

    border-radius: 10px;

    @include mobile {

    }

  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  &__price {
    text-shadow: 1px 1px 0px black;
  }

  &__reviews {
      justify-self: end;
  }

}